body { 
font-family: Verdana, Arial, sans-serif; 
line-height: 1.4;
font-size: 13px;
background: #565656;
margin: 0;
padding: 0;
color: #112211;
}

a { color: #3F4C6B; text-decoration: none;}
a:hover { text-decoration: underline; }

#wrap { 
width: 940px;
margin: 20px auto;
padding: 20px;
background: #fff;
}

#header {
background: #333;
padding: 25px 0 25px;
}
#header h1 {
margin: 0;
padding: 0 0 0 20px;
font-weight: 100;
color: #FFB96F;
font-size: 29px;
letter-spacing: 1px;
line-height: 27px;
}
#header h1 a { text-decoration: none; color: #fff; }
#header h1 a:hover { text-decoration: none; color: #eee; }
#header h2 { font-size: 18px; padding: 10px 0 0 20px; margin: 0; color: #eee; font-weight: 100; }

#contentwrap {
background: url(../images/bg.png) repeat-y;
padding: 0 20px 0 0;
}

#contentbox {
    margin: 10px 0 10px;
    float: right;
    width: 620px;
}

#path {
    border-bottom: 1px solid #000000;
    color: #2F445F;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 5px;
}

#content {padding-top: 10px;}

#content h2 {
margin: 0;
color: #2F445F;
line-height: 30px;
font-weight: 100;
font-size: 23px;
}

/* Leave bottom extra space*/
.content_message_block { padding: 0 0 8px 0}

#content p { padding: 0 0 10px 0; color: #232323;}

#sidebar {
float: left;
width: 270px;
margin: 10px 0;
}

#sidebar h3 {
height: 30px;
line-height: 30px;
font-weight: 100;
margin: 0; padding: 0 0 0 20px; 
color: #2F445F;
font-size: 15px;
border-bottom: 5px solid #D1D6DF;
}

#sidebar p { padding: 0 10px 10px 10px; color: #232323; }

/*#sidebar #section {padding: 5px 0 10px 23px; color: #232323;}*/

#sidebar ul {
padding: 5px 0 10px 25px;
margin: 0;
color: #aaa;
list-style-type: none;
}

#sidebar ul li {
background: url(../images/bullet.png) no-repeat center left;
padding: 1px 0 2px 22px;
margin: 0;
}
#sidebar ul li a {  }

#footer { 
text-align: center;
color: #fff;
background: #434343;
padding: 10px 0;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }
